.wrapper {
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 50%;
    background: white;
    padding: 30px;

}

body {
    background: aqua;
    padding: 0;
}

.tweet {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid black;
    border-radius: 50px;
}

.content {
    display: flex;
    padding: 20px;
    border: 3px solid black;
    border-radius: 50px;
}
.profile {
    display: flex;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
    border-radius: 50px;
}

.name {
    display: flex;
    padding: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 50px;
}
img {
    border-radius: 50px;
}