dialog {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    border: none;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

dialog[open] {
    display: flex;
}

dialog>div {
    width: 500px;
    max-width: 100vw;
    max-height: 100vh;

    gap: 10px;
    background-color: rgb(40, 45, 50);
    padding: 10px;
    /* margin: 10px; */
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-options {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}

.post-options>div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.post-content-input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0px;
    font-size: 1.2rem;
    resize: none;
    overflow-y: scroll;
    min-height: 2rem;
    max-height: 200px;
    width: 100%;
}

.post-content-input:focus {
    border: none;
    outline: none;
}

.post-content-input::placeholder {
    text-decoration: underline;
}