#wrapper {
    justify-content: center;
    float: right;
    max-height: 57.5em;
    width: 50%;
    padding: 30px;
    overflow: scroll;
    background: black;
    border: 3px solid dimgrey;
}

body {
    background: black;
    padding: 0;
    color: white;
    height: 100%;
}
.container {
    margin: 0;
    padding: 0;
}

.tweet {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid white;
    width: 100%;
    font-size: larger;
}
p {
    display: flex;
    margin: auto auto;
    font-size: larger;
}

.profile1 {
    display: flex;
    flex-direction: row;
    float: right;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    width: 20%;
    border-bottom: 2px solid white;
    font-size: 2em;
    color: white;
    text-shadow: 4px 4px 10px white;
    padding: 10px;
}
img {
    display: flex;
    border-radius: 100px;
    border: 1px solid white;
}

.dialog {
    border: 2px solid black;
}

.tweetC {
    display: flex;
    flex-direction: column;
}

.like {
    display: flex;
    flex-direction: row;
}
.count {
    margin: 0 20px;
    padding: 12px;
    color: white;
}
.likeButton {
    margin: 2px;
    border: none;
    display: inline-block;
    background-color: rgba(0,0,0,1);
}
.flex {
    display: flex;
    flex-direction: row;
}
.cross {
    position: relative;
    left: 100px;
}
.image {
    max-width: 200px;
    max-height: 200px;
}

.aside {
    border: 3px solid white;
    display: flex;
    float: left;
    width: 46.6%;
    height: 100vh;
}
.wrapper1 {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.button {
    border: 2px solid white;
    margin: 0;
    padding: 20px;
    background: black;
    color: white;
    font-size: larger;
}
.button:hover {
    background: gray;
}
nav{
    border-bottom: 3px solid white;
}

