<dialog id="edit-dialog">
    <div>
        <textarea placeholder="I like blending cats" class="post-content-input" id="edit-text-input"></textarea>

        <div class="post-options">
            <div>
                <button class="action secondary-button" onclick="clearEdit()">Clear</button>
                <input type="file" accept="image/*" id="edit-image-input">
            </div>
            <button class="action secondary-button" class="dialog-cancel">Cancel</button>
            <button class="action primary-button" onclick="edit()">Submit</button>
        </div>

    </div>
</dialog>