<dialog id="edit-dialog">
    <div>
        <textarea placeholder="none" class="post-content-input" id="edit-text-input"></textarea>

        <div class="post-options">
            <div>
                <button class="action secondary-button" onclick="clearEdit()">Clear</button>
                <input type="file" accept="image/*" id="edit-image-input">
            </div>
            <button class="action secondary-button dialog-close">Cancel</button>
            <button class="action primary-button" onclick="edit()">Edit</button>
        </div>

    </div>
</dialog>