<div class="post" status="{{like_status}}" post_id="{{post_id}}">
    <div class="post_inner">
        <img class="post_profile" src="{{base_url}}/api/get_profile_image?userid={{author_id}}">
        <div class="post_section">
            <div class="post_author">
                <label><a href="{{base_url}}/profile/{{username}}">{{username}}</a></label>
                <p>{{content}}</p>
            </div>
            <img class="post_media" src="{{base_url}}/api/get_image?file={{post_id}}"
                alt="media" onerror="this.style.display='none'">
            <div class="post_actions">

                <div class="post_like">
                    <button
                        class="post_like_button">
                        <div class="post_like_hover"></div>
                        <svg width="24"
                            height="24"
                            viewBox="0 0 24 24" fill="full"
                            stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"
                            class="post_heart_unliked"><path
                                d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" /></svg>
                    </button>
                    <label class="post_likes">{{like_count}}</label>
                </div>

            </div>
        </div>
        <!-- <button class="post_edit">Edit</button> -->
    </div>
</div>