<dialog id="reply-dialog">
    <div>
        <textarea placeholder="I like splattering brains!" class="post-content-input"
            id="post-text-reply-input"></textarea>

        <div class="post-options">
            <div>
                <input type="file" accept="image/*" id="post-image-reply-input">
            </div>
            <button class="action secondary-button dialog-close">Cancel</button>
            <button class="action primary-button" id="reply-button" onclick="post(selectedElement)">Post</button>
        </div>
    </div>
</dialog>