<div class="tweet">
    <div class="profile">
        <div class="pfp"><img src="{{profile_image}}" width="60px" height="60px" alt="ProfilePicture"></div>
        <div class="name">{{username}}</div>
    </div>
    <div class="content">{{content}}</div>
    <button status="{{like_status}}" id="like_{{post_id}}" onclick="likePost(this, '{{post_id}}')">
        like
    </button>
    <script>
        {
            const element = document.getElementById("like_{{post_id}}");
            const status = element.getAttribute("status") === "true";
            
            setTimeout(() => {
                checkLikeStatus(element, status);
            }, 1);
        }
    </script>
</div>