<div class="tweet">
    <div class="profile">
        <div class="pfp"><img src="%s" width="60px" height="60px" alt="profiel_foto"></div>
        <div class="name">%s</div>
    </div>
    <div class="content">%s</div>
    <button status="%s" id="like_%s" onclick="likePost(this, '%s')">
        like
    </button>
    <script>
        {
            const element = document.getElementById("like_%s");
            const status = element.getAttribute("status") === "true";

            setTimeout(() => {
                checkLikeStatus(element, status);
            }, 1);
        }
    </script>
</div>